<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--vazir font-->
    <link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/rastikerdar/vazir-font/v4.4.1/dist/font-face.css" />

    <!--specific files-->
    <link rel='stylesheet' href='/stylesheets/dashboard/rooms.css' />



</head>
<body onscroll="fixHeader()">

    <% include ../partials/header.html %>
    <% include ../dashboard/header-container.html %>

<div class="content">

    <div class="responsive-container">
        <div class="grid">
            <div class="cell column-3">
                <ul class="side-nav">
                    <li class="side-nav-item active">Your Listings</li>
                    <li class="side-nav-item">Reservations Calender</li>
                    <li class="side-nav-item" id="new-listing-btn"><a href="/edit/new-listing">Add New Listing</a></li>
                </ul>
            </div>
            <div class="cell column-9">
                <% my_listings.forEach(function(listing){ %>
                <div id="<%= listing.id %>" class="listing-mother" style="padding: 8px;">
                    <div class="listing grid">
                        <div class="cell listing-images">
                            <div class="grid" style="padding: 0;">
                                <div class="cell listing-img">
                                    <div class="box">
                                        <div class="margin-free">
                                            <div class="cell-thumbnail">
                                                <img class="margin-free" src= <%= listing.thumbnail_img %>>
                                                <!--<img class="margin-free" src="/images/owl.jpg">-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="listing-price">
                                        <span><%= listing.price %> T</span>
                                    </div>
                                </div>
                                <div class="cell listing-img listing-img-additional">
                                    <div class="box">
                                        <div class="margin-free">
                                            <div class="cell-thumbnail">
                                                <img class="margin-free" src= <%= listing.thumbnail_img %>>
                                                <!--<img class="margin-free" src="/images/owl.jpg">-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell listing-info">
                            <span><%= listing.bedroom_count %> Bedroom </span>
                            <span><%= listing.type %></span>
                            <span><%= listing.location %></span>
                            <span>Added on: <%= listing.creation_date %></span>
                            <a href="edit/listing?id=<%= listing.id %>" class="edit-btn">Edit</a>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>

</div>


    <% include ../partials/footer.html %>
    <!--<h1>email: <%= user.email %></h1>-->


    <script>
        var wrap = $('#nav-wrapper');
        function fixHeader() {
            if (window.scrollY > 60) {
                wrap.addClass("nav-wrapper--fixed");
                $('.content').css('padding-top', '38px');
            } else {
                wrap.removeClass("nav-wrapper--fixed");
                $('.content').css('padding-top', '0');
            }
        }
        customiseHeader();
        function customiseHeader() {
            const isAuthenticated = <%= isAuthenticated %>;
            if (isAuthenticated){
                $('#login-signin-btn').hide();
            } else {
                $('#logout-btn').hide();
                $('#rooms-btn').hide();
                $('#profile-btn').hide();
                $('#profile-img').hide();
            }
        }
    </script>

</body>
</html>
