<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />

</head>
<body>


<p>Welcome to <%= title %></p>
<p>Welcome to <%= title %></p>
<p>Welcome to <%= title %></p>
<p>Welcome to <%= title %></p>


<h1>Active tab is: <%= activeTab %></h1>

</body>
</html>
