<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</head>
<body>

<style>
    body { background-color: darkred; }
    <% if (isAuthenticated) { %>
        body { background-color: darkgreen; }
    <% } %>
</style>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title"><%= title %></span>
            </div>
            <!-- Tabs -->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#scroll-tab-1" class="mdl-layout__tab is-active">All</a>
                <a href="#scroll-tab-2" class="mdl-layout__tab">Homes</a>
                <a href="#scroll-tab-3" class="mdl-layout__tab">Experiences</a>
                <a href="#scroll-tab-4" class="mdl-layout__tab">Places</a>
            </div>
        </header>
        <main class="mdl-layout__content">
            <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
                <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-2">
                <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-3">
                <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-4">
                <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-5">
                <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-6">
                <div class="page-content"><!-- Your content goes here --></div>
            </section>
        </main>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
          <p>Welcome to <%= title %></p>
          <p>Welcome to <%= title %></p>
          <p>Welcome to <%= title %></p>
          <p>Welcome to <%= title %></p>


          <h1>Active tab is: <%= activeTab %></h1>

        </div>
  </main>
</div>





</body>
</html>
