<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--vazir font-->
    <link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/rastikerdar/vazir-font/v4.4.1/dist/font-face.css" />

    <!--date picker stuff-->
    <script type='text/javascript' src='/javascripts/kamadatepicker.min.js'></script>
    <link rel='stylesheet' href='/stylesheets/searchResult/kamadatepicker.min.css'/>

    <!--specific files-->
    <link rel='stylesheet' href='/stylesheets/rooms.css' />
    <!--javascripts-->
    <script type='text/javascript' src='/javascripts/rooms.js'></script>


</head>
<body>

    <% include ./partials/header.html %>

    <!--<div class="cell listing-images" style="background-image: url(<%= listing.thumbnail_img %>)"></div>-->
    <div class="cell listing-images" style="background-image: url('/images/owl.jpg')"></div>

    <div class="waste"></div>

    <div class="responsive-container">
        <div class="grid padding-free">
            <div class="cell column-4">
                <div class="newcol">
                    <div class="gap"></div>
                    <div class="form grid">
                        <form id="my-form" method="post" action="/booking">
                            <div class="content">
                                <div class="form-row">
                                    <div class="grid">
                                        <div class="cell half-field">
                                            <div class="form-description"><span>Check-in</span></div>
                                            <input readonly name="checkin" id="checkin" class="input-field" type="text" placeholder="dd/mm/yyyy" style="border-bottom-right-radius: 0; border-top-right-radius: 0">
                                        </div>
                                        <div class="cell half-field">
                                            <div class="form-description"><span>Check-out</span></div>
                                            <input readonly name="checkin" id="checkout" class="input-field" type="text" placeholder="dd/mm/yyyy" style="border-bottom-left-radius: 0; border-top-left-radius: 0">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="grid">
                                        <div class="form-description"><span>Number of Guests</span></div>
                                        <input name="max_guest" class="input-field" type="number" placeholder="Number of Guests">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="grid">
                                        <div class="form-description"><span><b>Price: </b><%= listing.price %></span></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="grid padding-free">
                                        <button type="submit" class="submit-btn">Book</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="cell column-6">
                <div class="innercol">
                    <div class="header">header stuff goes here</div>
                    <div class="rest">
                        <div class="innercol-row">
                            <span class="listing-title"><%= listing.title %></span>
                            <span class="listing-location"><%= listing.location %></span>
                        </div>
                        <div class="innercol-row">


                        </div>

                        <p>Listing ID: <%= listing.id %></p>
                        <p>Listing Type: <%= listing.type %></p>
                        <p>Listing Title: <%= listing.title %></p>
                        <p>Listing ID: <%= listing.id %></p>
                        <p>Listing Type: <%= listing.type %></p>
                        <p>Listing Title: <%= listing.title %></p>
                        <p>Listing ID: <%= listing.id %></p>
                        <p>Listing Type: <%= listing.type %></p>
                        <p>Listing Title: <%= listing.title %></p>
                        <p>Listing ID: <%= listing.id %></p>
                        <p>Listing Type: <%= listing.type %></p>
                        <p>Listing Title: <%= listing.title %></p>
                        <p>Listing ID: <%= listing.id %></p>
                        <p>Listing Type: <%= listing.type %></p>
                        <p>Listing ID: <%= listing.id %></p>
                        <p>Listing Type: <%= listing.type %></p>
                        <p>Listing Title: <%= listing.title %></p>
                        <p>Listing ID: <%= listing.id %></p>
                        <p>Listing Type: <%= listing.type %></p>
                        <p>Listing Title: <%= listing.title %></p>
                        <p>Listing ID: <%= listing.id %></p>
                        <p>Listing Type: <%= listing.type %></p>
                        <p>Listing Title: <%= listing.title %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
        <h2>abas gholi kojaE</h2>
    </div>


    <div class="booking-container">Booking here</div>


</body>
</html>
